@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .max-container {
        max-width: 1280px;
        margin: 0 auto;
    }
}

@layer utilities {
    .theme-gradient {
        @apply bg-gradient-to-r from-light-blue to-light-green;
    }
    .theme-gradient-text {
        @apply bg-gradient-to-r from-light-blue to-light-green text-transparent bg-clip-text;
    }
    .small-screen-padding {
        @apply max-lg:px-8;
    }
    .react-multi-carousel-item+.react-multi-carousel-item {
        margin-left: 10px;
    }
    li {
        width: fit-content!important;
    }
    li.react-multi-carousel-item {
        width: fit-content;
    }
    .react-multi-carousel-list {
        overflow: visible;
    }
    /* Define styles for specific tags within the review content */
    .review-content a {
        color: blue;
        /* Customize the link color */
    }

    .review-content em {
        font-style: italic;
    }

    .review-content strong {
        font-weight: bold;
        /* Make bold text stand out */
    }

    .review-content h1,
    .review-content h2 {
        font-size: 1.25rem;
        /* Adjust heading sizes */
        font-weight: bold;
        margin-bottom: 0.5rem;
    }
}